@charset "utf-8";

/*
   Author:   Will
   Date:  03/15/23

   This file contains the flex styles used in the Trusted Friends
   Pre-K Classes page.

*/


/* ================
   Base Flex Styles
   ================
*/

body{
   display: flex;
   flex-flow: row wrap;
}

header, footer {
   width: 100%;
}

aside {
   flex: 1 1 120px;
}

section#main {
   flex: 3 1 361px;
}

section#topics {
   display: flex;
   flex-flow: row wrap;
}

section#topics article {
   flex: 1 1 200px
}

nav.horizontal li {
   text-align: center;
}

a#navicon {
   display:none;
}


/* =========================
   Mobile Styles: 0 to 480px 
   =========================
*/

@media only screen and (max-width: 480px) {
  
   aside{
      order: 99;
   }
   footer {
      order:100;
   }
 
   a#navicon {
      display: block;
   }
   
   nav.horizontal ul {
      display: none;
   }

   a#navicon:hover + ul, nav.horizontal ul:hover {
      display: block;
   }
}

/* ============================================
   Tablet and Desktop Styles: 481px and greater 
   ============================================
*/

@media only screen and (min-width: 481px) {
   nav.horizontal ul {
      display: flex;
      flex-flow: row nowrap;

   }
   nav.horizontal li {
      flex: 1 1 auto;
   }


}


